{% extends 'tpl/template.html' %}
{% load static %}

{% block main %}
    <div class="layui-card">
        <div class="layui-card-header">组织架构</div>
        <div class="layui-card-body">
            <table id="dept" lay-hide lay-skin="line" lay-size="lg" lay-data="{id: 'idTest'}" lay-filter="dept">
            </table>
        </div>
    </div>
{% endblock %}
{% block myjs %}
    <script>
        layui.use(['element', 'jquery', 'table', 'form'], function () {
            var $ = layui.$,
                tree = layui.treeSelect,
                element = layui.element,
                table = layui.table;
            //第一个实例
            table.render({
                id: 'dept'
                , elem: '#dept'
                , toolbar: '#topbar'
                , url: '/system/dept/list' //数据接口
                , page: true //开启分页
                , limit: 10
                , cols: [[ //表头
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', sort: true}
                    , {field: 'name', title: '部门名称',}
                    , {field: 'type', title: '类型', sort: true}
                    , {field: 'parent__name', title: '父部门'}
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#toolbar'}
                ]]
                , page: true
            });

            function deleteDepts(ids, index) {
                $.ajax({
                    url: '/system/dept/delete',
                    method: 'post',
                    data: {'ids': JSON.stringify(ids)},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg);
                            layer.close(index);
                            table.reload('dept');
                        } else {
                            layer.msg(data.msg)
                        }
                    },
                    error: function () {
                        layer.msg('系统内部错误')
                        layer.close(index)
                    }
                })
            }

            table.on('toolbar(dept)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addDept':
                        var data = checkStatus.data;
                        layer.open({
                            id: 'addDept',
                            title: '添加部门',
                            area: ['400px', '310px'],
                            type: 2,
                            content: "{% static 'module/forms/addDeptForm.html' %}",
                        });
                        break;
                    case 'deleteDept':
                        var data = checkStatus.data;
                        var ids = []
                        $(data).each(function (index, item) {
                            ids.push(item.id)
                        })
                        layer.confirm('确认删除?', function (index) {
                            if (index = layer.index) {
                                deleteDepts(ids, index)
                            }
                        })
                        break;
                }
            });

            table.on('tool(dept)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (obj.event) {
                    case 'delete':
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            deleteDepts([data.id], index)
                            layer.close(index);
                        });
                        break;
                    case 'edit':
                        layui.data('edept', {'key': 'data', 'value': data})
                        layer.open({
                            id: 'addDept',
                            title: '修改部门',
                            area: ['400px', '310px'],
                            type: 2,
                            content: "{% static 'module/forms/editDeptForm.html' %}"
                        });
                        break;
                    case 'relate':
                        layui.data('ruser', {'key': 'user', 'value': data})
                        layer.open({
                            id: 'relateDept',
                            title: '关联用户',
                            area: ['510px', '510px'],
                            type: 2,
                            content: "{% static 'module/forms/relateDept.html' %}"
                        });
                        break;
                }
            });
        });
    </script>

    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>
        </a>
        <a class="layui-btn layui-btn-radius layui-btn-xs layui-btn-danger" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>
        </a>
        <a class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" lay-event="relate">
            <i class="layui-icon layui-icon-group"></i>
        </a>
    </script>

    <script type="text/html" id="topbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="addDept">
                <i class="layui-icon">&#xe654; 添加部门</i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteDept">
                <i class="layui-icon">&#xe640; 批量删除</i>
            </button>
        </div>
    </script>
{% endblock %}

