{% extends 'tpl/template.html' %}
{% load static %}

{% block main %}
    <div class="layui-card">
    <div class="layui-card-header">菜单管理</div>
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md2">
                <div id="menuTree" class="layui-tree layui-tree-line"
                     style="width: 200px; min-height: 200px; margin: 10px 30px; padding: 10px; border: 1px solid lightgray"></div>
            </div>
            <div class="layui-col-md10">
                <table id="dept" lay-hide lay-skin="line" lay-size="lg" lay-data="{id: 'idTest'}"
                       lay-filter="dept">
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block myjs %}
    <script>
        layui.use(['element', 'jquery', 'table', 'form', 'tree'], function () {
            var $ = layui.$,
                tree1 = layui.tree,
                tree = layui.treeSelect,
                element = layui.element,
                table = layui.table;
            //第一个实例
            table.render({
                id: 'dept'
                , elem: '#dept'
                , toolbar: '#topbar'
                , url: '/system/menu/list' //数据接口
                , page: true //开启分页
                , limit: 10
                , cols: [[ //表头
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', sort: true}
                    , {field: 'name', title: '菜单名称',}
                    , {field: 'code', title: '代码', sort: true}
                    , {field: 'icon', title: '图标', sort: true}
                    , {field: 'url', title: 'url', sort: true}
                    , {field: 'parent__name', title: '父菜单'}
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#toolbar'}
                ]]
                , page: true
            });

            function deleteDepts(ids, index) {
                $.ajax({
                    url: '/system/menu/delete',
                    method: 'post',
                    data: {'ids': JSON.stringify(ids)},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg);
                            layer.close(index);
                            table.reload('dept');
                        } else {
                            layer.msg(data.msg)
                        }
                    },
                    error: function () {
                        layer.msg('系统内部错误')
                        layer.close(index)
                    }
                })
            }

            table.on('toolbar(dept)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addDept':
                        var data = checkStatus.data;
                        layer.open({
                            id: 'addDept',
                            title: '添加菜单',
                            area: ['430px', '400px'],
                            type: 2,
                            content: "{% static 'module/forms/menu/addMenuForm.html' %}",
                        });
                        break;
                    case 'deleteDept':
                        var data = checkStatus.data;
                        var ids = []
                        $(data).each(function (index, item) {
                            ids.push(item.id)
                        })
                        layer.confirm('确认删除?', function (index) {
                            if (index = layer.index) {
                                deleteDepts(ids, index)
                            }
                        })
                        break;
                }
            });

            table.on('tool(dept)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (obj.event) {
                    case 'delete':
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            deleteDepts([data.id], index);
                            layer.close(index);
                            layui.loadMenuTree();
                        });
                        break;
                    case 'edit':
                        layui.data('eMenu', {'key': 'menu', 'value': data})
                        layer.open({
                            id: 'addDept',
                            title: '修改菜单',
                            area: ['430px', '400px'],
                            type: 2,
                            content: "{% static 'module/forms/menu/editMenuForm.html' %}"
                        });
                        break;
                }
            });

            layui.loadMenuTree = function() {
                $.ajax({
                    url: '/system/menu/tree',
                    method: 'get',
                    success: function (res) {
                        console.log(res)
                        var inst1 = tree1.render({
                            elem: '#menuTree'  //绑定元素
                            , showCheckbox: true
                            , data: res
                        });
                    }
                })
            }

            layui.loadMenuTree();
        });

        function test(){
            console.log('run')
        }


    </script>

    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        <a class="layui-btn layui-btn-radius layui-btn-xs layui-btn-danger" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>删除
        </a>
    </script>

    <script type="text/html" id="topbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="addDept">
                <i class="layui-icon">&#xe654; 添加部门</i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteDept">
                <i class="layui-icon">&#xe640; 批量删除</i>
            </button>
        </div>
    </script>
{% endblock %}