{% extends 'tpl/template.html' %}
{% load static %}

{% block main %}
    <div class="layui-card">
        <div class="layui-card-header">主机管理</div>
        <div class="layui-card-body">
            <table id="host" lay-hide lay-skin="line" lay-size="lg"
                   lay-filter="host">
            </table>
        </div>
    </div>
{% endblock %}
{% block myjs %}
    <script>
        layui.use(['element', 'jquery', 'table', 'form', 'tree'], function () {
            var $ = layui.$,
                tree = layui.tree,
                element = layui.element,
                table = layui.table;
            //第一个实例
            table.render({
                id: 'host'
                , elem: '#host'
                , toolbar: '#topbar'
                , url: '/cmdb/host/list' //数据接口
                , page: true //开启分页
                , limit: 10
                , page: true
                , loading: true
                , cols: [[ //表头
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', sort: true}
                    , {field: 'hostname', title: '主机名',}
                    , {field: 'public_ip', title: '公网IP', sort: true}
                    , {field: 'private_ip', title: '私网IP',}
                    , {field: 'owner__username', title: '负责人', sort: true}
                    , {field: 'server__name', title: '服务器', sort: true}
                    , {field: 'os', title: '系统', templet: '#osStyle'}
                    , {field: 'expire', title: '到期时间',}
                    , {field: 'type', title: '类型', templet: '#typeStyle'}
                    , {field: 'group', title: '分组',}
                    , {field: 'label', title: '标签',}
                    , {field: 'status', title: '状态', templet: '#statusStyle'}
                    , {title: '操作', fixed: 'right', align: 'center', toolbar: '#toolbar', width: 240}
                ]]

            });
            function deleteHost(ids, index) {
                $.ajax({
                    url: '/cmdb/host/delete',
                    method: 'post',
                    data: {'ids': JSON.stringify(ids)},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg);
                            layer.close(index);
                            table.reload('host');
                        } else {
                            layer.msg(data.msg)
                        }
                    },
                    error: function () {
                        layer.msg('系统内部错误')
                        layer.close(index)
                    }
                })
            }

            table.on('toolbar(host)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addHost':
                        var data = checkStatus.data;
                        layer.open({
                            id: 'addHost',
                            title: '添加服务器',
                            area: ['670px', '540px'],
                            type: 2,
                            content: "{% static 'module/forms/host/addHostForm.html' %}",
                        });
                        break;
                    case 'deleteHost':
                        var data = checkStatus.data;
                        var ids = []
                        $(data).each(function (index, item) {
                            ids.push(item.id)
                        })
                        layer.confirm('确认删除?', function (index) {
                            if (index = layer.index) {
                                deleteHost(ids, index)
                            }
                        })
                        break;
                }
            });

            table.on('tool(host)', function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
                switch (obj.event) {
                    case 'delete':
                        layer.confirm('真的删除行么', function (index) {
                            obj.del();
                            deleteHost([data.id], index);
                            layer.close(index);
                        });
                        break;
                    case 'edit':
                        layui.data('host', {'key': 'host', 'value': data})
                        layer.open({
                            id: 'editHost',
                            title: '修改服务器',
                            area: ['670px', '540px'],
                            type: 2,
                            content: "{% static 'module/forms/host/editHostForm.html' %}"
                        });
                        break;
                }
            });

        });

    </script>


    <script type="text/html" id="osStyle">
        {% verbatim %}
        {{#  if(d.os == 1){ }}
        <i class="layui-icon layui-icon-chart-screen">&nbsp;&nbsp;Linux</i>
        {{#  } else { }}
        <i class="layui-icon layui-icon-windows">&nbsp;&nbsp;Windows</i>
        {{#  } }}
        {% endverbatim %}
    </script>


    <script type="text/html" id="typeStyle">
        {% verbatim %}
        {{#  if(d.type == 1){ }}
        <i>云服务器</i>
        {{#  } else { }}
        <i>虚拟机</i>
        {{#  } }}
        {% endverbatim %}
    </script>

    <script type="text/html" id="statusStyle">
        {% verbatim %}
        {{#  if(d.status == 1){ }}
        <span style="color: #5FB878">运行中</span>
        {{#  } else if(d.status == 2) { }}
        <span style="color: #FFB800">已停止</span>
        {{# } else { }}
        <span style="color: #FF5722">已删除</span>
        {{#  } }}
        {% endverbatim %}
    </script>

    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>编辑
        </a>
        <a class="layui-btn layui-btn-radius layui-btn-xs layui-btn-danger" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>删除
        </a>
        <a class="layui-btn layui-btn-radius layui-btn-xs layui-btn-normal" lay-event="ssh">
            <i class="layui-icon layui-icon-layer"></i>SSH
        </a>
    </script>

    <script type="text/html" id="topbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="addHost">
                <i class="layui-icon">&#xe654; 添加主机 </i>
            </button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="deleteHost">
                <i class="layui-icon">&#xe640; 批量删除</i>
            </button>
        </div>
    </script>
{% endblock %}